/* HeroesComponent's private CSS styles */
.transfers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.transfers li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.transfers li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.transfers li.selected {
  background-color: #CFD8DC;
  color: white;
}

.transfers li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.transfers .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.free {
  float: right;
  padding: 3px 25px;
}
.red {
  color: red;
}

.green {
  color: green;
}

.transfer-detail {
  background-color: #EEE;
  border-radius: 10px;
  padding: 10px 30px;
  width: 500px;
}

.journeys li {
  background-color: #DDD;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px 5px 5px -30px;
  list-style: none;
}
